body {
    margin: 0;
    padding: 0;
    background: url(✨rosa✨.jpg) no-repeat center center fixed;
    display: flex;
    background-color: rgba(243, 146, 186, 0.764);
    background-size: 50% 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.titulo{
    background-color: #FFF1E6;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    
    width: 70%;
    margin: 0 30;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family:'Pacifico', cursive;
}
.container-padre{ 
    background-color:#F78FB3;
    border-radius: 10px;
    align-items: center;
    padding-left: 0px;
    width: 20%;
    min-height: 50%;
    height: fit-content;
}

.container-formulario{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.task{ 
    background-color: white;
    padding: 8px;
    border-radius:5px;
    border: none;
}
.formulario {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

input, button{
    padding: 8px;
    border: none;
    border-radius: 5px;
}
button{
    background-color: #dc5a88;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #FFF1E6;
    color: #dc5a88;

}